.app {
	
	#main-header {
		background-color: $header-bg;
		width: 100%;
		position: fixed;
		z-index: 30;	
			
		display: inline;
		left: 0%;
		height: $header-height;
		@include transition(left 0.5s ease);		
	
		@media screen and (min-width: $min-desktop) {
			width: 100% - $off-canvas-width-mini;
			left: $off-canvas-width-mini;
		}
	
	}
	
	&.open {
		
		#main-header {
			left: $off-canvas-width;
			
			@media screen and (min-width: $min-tablet) {
				left: $off-canvas-width-tablet;	
			}
		
			@media screen and (min-width: $min-desktop) {
				left: $off-canvas-width-desktop;
			}
		}
	
	}

}